{
  "extends": "stylelint-config-htmlacademy",
  "rules": {
    "react/react-in-jsx-scope": 0
  },
  "globals": {
    "React": true,
    "PropTypes": true,
    "rendered": true,
    "shallow": true,
    "mount": true
  }
}
